@model HumaneCore.Models.Animal.AnimalIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Animals</h1>

@{
    var animals = Model.AnimalList.ToArray();
    for (int i = 0; i < animals.Length; i++)
    {
        if (i == 0 || i % 4 == 0)
        {
        <div class="row">
           @for (int j = 0; j <= 3; j++)
            {
                if (i + j < animals.Length)
                {
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@animals[i + j].Name</h5>
                                <ul class="card-text">
                                    <li>@animals[i + j].Species.CommonName</li>
                                    @*<li>@animals[i + j].Species.Breed.Name</li>*@
                                    <li>@animals[i + j].Gender</li>
                                    <li>@animals[i + j].Age</li>
                                </ul>
                                <a href="/Animal/Visit/@animals[i+j].Id">Visit @animals[i + j].Name!</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <br />
        }
    }
}